# Virtual environments
md2slack_venv/ # Project specific venv name
.venv/
venv/
ENV/
env/

# Python build artifacts
build/
dist/
*.egg-info/
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod] # General bytecode/optimized code

# Environment variables
.env

# Output files
*_slack.md

# User configuration files
md2slack.yml

# Editor files
.vscode/
.idea/
*.swp
*~